<nav class="navbar bg-light">
  <div class="container-fluid">
    <h2 class="navbar-brand" >Productos</h2>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="buscar..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <div class="text-end">
      <%= link_to content_tag(:i, " ", :class => "bi bi-stars text-warning")+"Nuevo Producto", new_product_path, :class => "btn btn-primary" %>
    </div>
  </div>
</nav>


<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Disponible</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Accciones</th>
    </tr>
  </thead>
  <tbody  id="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  </tbody>
</table>


